h1 {
    margin: 0;
    font-size: 10rem;
    text-align: center;
  }
  
  .burn {
    background-image: url(image/flame.gif);
background-size: cover;
background-position: center;
color: transparent;
background-clip: text;
-webkit-background-clip: text;;
}
body {
    background-image: url(image/240_F_80841586_D6Fm9VqojIFfHZnPLFCWvx7Gin8o2Gu5.jpg);
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    /* Add additional styles for the body if needed */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-style: normal;
    color: black;
    justify-content: center;
    text-align: center;
} 
.list-container {
    max-width: 600px; /* Adjust the max-width as needed */
    text-align: left; 
}
ul, ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
h2 {
    padding: 10px;
    font-weight: bold;
}
.quotation {
    font-size: 16px;
    font-style: italic;
    padding: 16px;
} 
a  {
    color: antiquewhite;
}